.wrap-news{
    width: 100%;
    font-size: 20px;
     font-weight: bold;
     background:#eef3f5;
    text-align: center;
}
.wrap-news .new-title-box{
    width: 100%;
    color: #000;
    display: inline-block;
    border-bottom: 2px #ffc000 solid;
    padding-bottom:3px
}
.new-title-box a{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
}
.new-title-box a:hover{
    color: #ffc000;
    text-decoration: none;
}