.products-page{

}
.products-page .router-header{

}

.products-page .body-page-collection{
    width: 100%;
    padding-left: 100px;
    padding-right: 50px;
    

}
.body-page-collection .bread-crum{

}

.bread-crum .container{

}

.body-page-collection .main-page{

    
}
.main-page .nav-sidebar{

}

.sort-filter{

}
.sort-filter {

}
.product-collection{
padding-top: 50px;
clear: both;
width: 90%;
}
.product-collection .wrap-item{
    width: 100%;
    height: 500px;
    padding-left: 100px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
}
 .item-product{
    float: left;
    display: inline-block;
 

}

.item-product .detail {
   
}
.content-product-page{
    display: flex;
    flex-direction: column;
}
.wrap-pagination{

}