.products-page{

}
.products-page .router-header{

}

.products-page .body-page-collection{
    width: 100%;
    padding-left: 100px;
    padding-right: 50px;
    

}
.body-page-collection .bread-crum{

}

.bread-crum .container{

}

.body-page-collection .main-page{

    
}
.main-page .nav-sidebar{

}

.sort-filter{

}
.sort-filter {

}
.product-collection{
padding-top: 50px;
clear: both;

}
.product-collection .item-product{
    
}

.item-product .detail {
   
}
