 
 *{
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
    
 }

 html{
font-family: "lato", 'sans-serlf';
font-size: 20px ;
color: #5a5a5a;
background-color: #ffffff;
text-rendering: optimizeLegibility;
 /* font size default: 16px  */
}
.container{  
    
}
.header{
 
    align-items: center;
    align-self: center;
}
  .top-head{
    position: relative;
    height:30 ;
    width: 100%;
    background: #f7f7ff;
}
.header .top-head .main{
    padding-right: 40px;
    padding-left: 40px;
    margin:auto;
    width: 1250px;
    ;
 }
 .main ul{
     list-style-type: none;
     display: block;
 }
 .list  {
    display: inline-block;
    width: 30%;
}
.middle-header {
    background: #edfbf5;
    height: 100px;
    width: 100%;
}
.middle-header .main{
    padding-left: 40px;
    padding-right: 40px;
    display: block;
}
.middle-header .main .item-main{
    display: inline-block;
}
.middle-header .main .item-main .logo img{
    width: 100px;
    height: 80px;
}
.bottom-header{
    width: 100%;
    height: 100px;
    color: teal;
}
.bottom-header .main-bottom .list-navigation{
    list-style: none;
    display: flex;
width: 80%;
height: 80%;
}
.list-navigation li{
    height: 100%;
   background: #f1bb2b;
   list-style-type: none;
    -ms-flex: 1;
    flex: 1;
    border:  1px solid black;;
    display: inline;
}
